{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
    <title>Vintage Aroma - Contact</title>
</head>

<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home_page'%}">Home</a></li>
            <li><a href="{% url 'about_us_page'%}">About Us</a></li>
            <li><a href="{% url 'shop_page'%}">Shop</a></li>
            <li class="active"><a href="{% url 'contact_page'%}">Contact</a></li>
        </ul>
    </nav>

    <div class="logo">
        <a href="{% url 'home_page'%}"><img src="{% static "images/coffee_beans.png" %}" alt="Coffee Beans" ></a>
    </div>

    <div class="nav-title">
        <a href="{% url 'home_page'%}">Vintage Aroma</a>
    </div>

    <div class="top-bg">
        <img src="{% static "images/contact.jpg" %}">
    </div>

    <div class="page-heading">
        <h1>Contact</h1>
    </div>

    <div class="content">
        <div class="block-1">
            <h2>GET IN TOUCH WITH US</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est autem necessie error ipsa ad nesciunt quis aperiam eligendi qui.</p>
        </div>

        <div class="form-container">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Send">
                {% for message in messages %}
                    <p>{{message}}<p>
                {% endfor %}
            </form>
        </div>
    </div>

    <div class="contact">
        <div class="location">
            <h2 class="loc-heading">
                COME ON IN!
            </h2>
            <h3>WEEKDAYS</h3>
            <p>8AM - 11PM</p>
            <h3>WEEKENDS</h3>
            <p>8AM - 12PM</p>
            <div class="social">
                <a href="http://www.facebook.com"><img src="{% static "images/facebook.png" %}" alt="facebook"></a> 
                <a href="http://www.instagram.com"><img src="{% static "images/instagram.png" %}" alt="instagram"></a>
                <a href="http://www.twitter.com"><img src="{% static "images/twitter.png" %}" alt="twitter"></a>
            </div>
        </div>

        <div class="contact-details">
            <h2 class="con-heading">
                CONTACT US
            </h2>
            <h3>PHONE</h3>
            <p>+267 77707722</p>
            <h3>EMAIL</h3>
            <p>info@vintagearoma.com</p>
            <h3>ADDRESS</h3>
            <p>80 Vintage Avenue, Somewhere</p>
        </div>
    </div>

    <div class="footer">
        &copy Copyright Vintage Aroma<p id="tag">Designed & Developed by Asafa Makan'a</p>
    </div>
    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>