@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #2F1E0A;
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    z-index: 999; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.nav-links{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
}

.active a{
    border-bottom: 2px solid #D9B58A;
    text-decoration: none;
    color:rgb(226, 226, 226);

}

.nav-links a{
    color:#D9B58A;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 1vh;
}

.nav-links a:hover{
    border-bottom: 2px solid rgb(226, 226, 226);
    color:rgb(226, 226, 226);
}

.nav-links li {
    list-style: none;
}

.logo img{
    background-color: #2F1E0A;
    width: 20px;
    padding: 13px;
    margin-top: -2rem;
    position: fixed;
    top: 2.3rem;
    display: block;
    margin-left: 1.5%;
    margin-right: 55%;
    z-index: 100000;
}

.nav-title a{
    margin-top: -2rem;
    position: fixed;
    top: 3rem;
    display: block;
    margin-left: 7%;
    margin-right: 55%;
    z-index: 100000;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

.top-bg img{
    width: 100%;
}

.page-heading h1{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 26%;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -0.5em;
}


.block-1{
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 1em;
}

.block-1 p{
    width: 50%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #2F1E0A;
}

.block-1 h2{
    color: #2F1E0A;
}

.block-2{
    width: 100%;
    height: 50%;
    background-color:#D9B58A;
    align-items: center;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2.8em;
}

.block-2 img{
    width: 75%;
    z-index: 333;
}

.block-3{
    width: 100%;
    height: 50%;
    background-color: white;
    align-items: center;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2.8em;
}

.block-3 img{
    width: 75%;
    z-index: 333;
}

.block-4{
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.block-4 h2{
    width: 60%;
    color: #2F1E0A;
    margin:0 auto;
    margin-bottom: 1em;
}

.block-4 p{
    width: 50%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #2F1E0A;
    margin-bottom: 1em;
}

.block-4 button{
    background-color: white;
    color:#2F1E0A;
    width: 30%;
    border: 1px solid #2F1E0A;
    border-radius: 25px;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2em;
    cursor: pointer;
}

.block-4 button:hover{
    background-color: #2F1E0A;
    color: white;
}

.btm-img{
    display: flex;
    flex-direction: column;
}

.btm-img img{
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: #af8f6b;
    padding-top: 2em;
    padding-bottom: 2em;
}

.location{
    width: 100%;
    color: #2F1E0A;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center; 
    margin-bottom: 2em;
}

.location img{
    width: 4%;
    justify-content: space-around;
    margin-right: 0.5em;
}

.contact-details{
    width: 100%;
    color: #2F1E0A;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
}

.contact h3{
    color: rgb(226, 226, 226);
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#tag{
    margin: 0 auto;
}

@media screen and (min-width: 769px){
    .page-heading h1{
        font-size: 50px;
        top: 35%;
    }

    .footer{
        font-size: 15px;
        padding-left: 9em;  
    }

    .content{
        display: table;
    }

    .block-1{
        float: left;
        width:50%;
        height: 267px;
    }

    .block-1 p{
        width: 90%;
    }

    .block-2{
        float: left;
        width:50%;
    }

    .block-3{
        float: left;
        width: 50%;
    }

    .block-4{
        float: left;
        width: 50%;
    }

    .block-4 h2{
        margin-top: 2em;
    }

    .block-4 p{
        width: 60%;
    }
    
    .btm-img{
        flex-direction: row;
    }

    .btm-img img{
        width: 50%;
        float: left;
    }

    .contact{
        flex-direction: row;
    }

    .location{
        width: 50%;
        float: left;
    }

    .contact-details{
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 900px){
    .block-1 p{
        width: 65%;
    }

    .block-4 p{
        width: 50%;
    }

    .footer{
        padding-left: 10em;
    }
}

@media screen and (min-width: 1024px){
    .page-heading h1{
        font-size: 70px;
        top: 55%;
    }

    .block-1 p{
        width: 60%;
    }

    .block-4 p{
        width: 40%;
        margin-bottom: 2em;
    }

    .block-4 h2{
        margin-top: 5em;
    }

    .block-1 h2 {
        margin-top: 2em;
    }

    .footer{
        padding-left: 15em;
    }
}

@media screen and (max-width: 768px){

    .line{
        width: 30px;
        background-color: #D9B58A;
        height: 3px;
        margin-bottom: 5px;
    }

    .nav-links{
        position: fixed;
        margin-top: 2.5em;
        background-color: #2F1E0A;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }


    body{
        overflow-x: hidden;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 30%;
        display: block;
    }

    .logo img{
        width: 20px;
        top: 2.3rem;
    }

    .nav-title a{
        margin-left: 10%;
        width: 200px;
    }

    .title h1 {
        top: 25%; /* Adjust this value to move the positioned div up and down */

        width: 60%; /* Set the width of the positioned div */
    }
}

.nav-active{
    transform: translateX(0%);
}