@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #2F1E0A;
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    z-index: 999; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.nav-links{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
}

.active a{
    border-bottom: 2px solid #D9B58A;
    text-decoration: none;
    color:rgb(226, 226, 226);

}

.nav-links a{
    color:#D9B58A;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 1vh;
}

.nav-links a:hover{
    border-bottom: 2px solid rgb(226, 226, 226);
    color:rgb(226, 226, 226);
}

.nav-links li {
    list-style: none;
}

.logo img{
    background-color: #2F1E0A;
    width: 20px;
    padding: 13px;
    margin-top: -2rem;
    position: fixed;
    top: 2.3rem;
    display: block;
    margin-left: 1.5%;
    margin-right: 55%;
    z-index: 100000;
}

.shopping-cart img{
    background-color: #2F1E0A;
    width: 25px;
    padding: 20px;
    margin-top: 1rem;
    position: fixed;
    top: 2.3rem;
    display: block;
    margin-left: 0%;
    margin-right: 10%;
    z-index: 100000;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 18px;
	border-radius: 60%;
    font-size: 12px;
    padding-top: 3px;
    z-index: 1000000;
    position: fixed;
    top: 2.8rem;
    text-align: center;
    margin-left: 5.8%;
}

.nav-title a{
    margin-top: -2rem;
    position: fixed;
    top: 3rem;
    display: block;
    margin-left: 7%;
    margin-right: 55%;
    z-index: 100000;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#tag{
    margin: 0 auto;
}

.checkout{
    margin-top: 3em;
    width: 97.6%;
    background-color:#e7d0b6;
    padding: 1em;
    text-align: center;
    padding-bottom: 7em;
}

.checkout-heading{
    margin-top: 5em;
    margin-left: 5%;
    background-color: white;
    width: 80%;
    padding: 1em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 5px;
}

.top-box{
    width: 95%;
    height: 50px;
    margin-left: 3%;
    border-bottom: 0.5px solid #2F1E0A;
}

.top-box button{
    float: left;
    background-color: white;
    color: #2F1E0A;
    padding: 8px 12px;
    border: 1px solid #2F1E0A;
    border-radius: 16px;
}

.top-box button:hover{
    background-color: #2F1E0A;
    color: white;
}

.checkout-heading table {
    width: 100%;
}

.checkout-total button{
    float: right;
    background-color: #1eb125;
    color: white;
    padding: 8px 12px;
    border: none;
}

.checkout-total button:hover{
    background-color: #18701c;
}

.list{
    margin-top: 1em;
    margin-left: 5%;
    background-color: white;
    width: 80%;
    padding: 1em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 5px;
}

.list-heading img{
    width: 70%;
    margin-bottom: 4px;
}

.arrows{
    width: 6%;
}

.quantity{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

td{
    font-size: 13px;
}

.quantity{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px){

    #cart-total{
        top: 2.8rem;
        margin-left: 5%;
    }

    .footer{
        font-size: 15px;
        padding-left: 9em;  
    }

    .list{
        margin-left: 8%;
    }

    .checkout-heading{
        margin-left: 8%;
    }

    .checkout{
        width: 96.4%;
    }
  
}


@media screen and (min-width: 900px){
   
    #cart-total{
        top: 2.8rem;
        margin-left: 4.2%;
    }

    .footer{
        padding-left: 10em;
    }

    .list{
        margin-left: 10%;
    }

    .checkout-heading{
        margin-left: 10%;
    }

    .checkout{
        width: 97%;
    }
      
}

@media screen and (min-width: 1024px){

    .shopping-cart{
        margin-left: 1%;
    }

    .footer{
        padding-left: 15em;
    }

    #cart-total{
        top: 2.8rem;
        margin-left: 2.7%;
    }

    .list{
        margin-left: 10%;
    }

    .checkout-heading{
        margin-left: 10%;
    }

    .checkout{
        width: 97.6%;
    }

    .list-heading img{
        width: 40%;
        margin-bottom: 5px;
    }

    td{
        font-size: 16px;
    }
      
}

@media screen and (max-width: 768px){

    .line{
        width: 30px;
        background-color: #D9B58A;
        height: 3px;
        margin-bottom: 5px;
    }

    .nav-links{
        position: fixed;
        margin-top: 2.5em;
        background-color: #2F1E0A;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    body{
        overflow-x: hidden;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 30%;
        display: block;
    }

    .logo img{
        width: 20px;
        top: 2.3rem;
    }

    .nav-title a{
        margin-left: 10%;
        width: 200px;
    }

    .title h1 {
        top: 25%; /* Adjust this value to move the positioned div up and down */

        width: 60%; /* Set the width of the positioned div */
    }
}

.nav-active{
    transform: translateX(0%);
}