@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #2F1E0A;
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    z-index: 999; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.nav-links{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
}

.active a{
    border-bottom: 2px solid #D9B58A;
    text-decoration: none;
    color:rgb(226, 226, 226);

}

.nav-links a{
    color:#D9B58A;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 1vh;
}

.nav-links a:hover{
    border-bottom: 2px solid rgb(226, 226, 226);
    color:rgb(226, 226, 226);
}

.nav-links li {
    list-style: none;
}

.top-bg img{
    width: 100%;
    opacity: 0.6;
}

.page-heading h1{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 26%;
    color: #2F1E0A;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}


.logo img{
    background-color: #2F1E0A;
    width: 20px;
    padding: 13px;
    margin-top: -2rem;
    position: fixed;
    top: 2.3rem;
    display: block;
    margin-left: 1.5%;
    margin-right: 55%;
    z-index: 100000;
}

.shopping-cart img{
    background-color: #2F1E0A;
    width: 25px;
    padding: 20px;
    margin-top: 1rem;
    position: fixed;
    top: 2.3rem;
    display: block;
    margin-left: 0%;
    margin-right: 10%;
    z-index: 100000;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 18px;
	border-radius: 60%;
    font-size: 12px;
    padding-top: 3px;
    z-index: 1000000;
    position: fixed;
    top: 2.8rem;
    text-align: center;
    margin-left: 5.8%;
}

.nav-title a{
    margin-top: -2rem;
    position: fixed;
    top: 3rem;
    display: block;
    margin-left: 7%;
    margin-right: 55%;
    z-index: 100000;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#tag{
    margin: 0 auto;
}


.products{
    background-color: white;
    padding: 2em;
    height: 100%;
}

.column{
    padding: 1em;
    background-color: white;
    align-items: center;
    margin-bottom: 0em;
}

.product-container{
    border-radius: 5px;
    background-color: #D9B58A;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    padding-bottom: 0em;
    margin-top: 0em;
    width: 90%;
}

.product-container h3{
    color: #2F1E0A;
}

.product-container p{
    color: #2F1E0A;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.product-container img{
    width: 50%;
    height: 35%;
}

.content{
    background-color: white;
    margin-top: 0em;
    padding-top: 1em;
    padding-left: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.cell-bottom-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cell-bottom-row form{
    width: 50%;
}

.cell-bottom-row button{
    width: 100%;
    padding: 12px 12px;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #6d4c27;
    border: none;
    font-size: 15px;
}

.cell-bottom-row button:hover{
    background-color: #2F1E0A;
    color: white;
}

.block-1{
    text-align: center;
    align-self: center;
    width: 100%;
}

.block-1 p {
    width: 70%;
    margin: 0 auto;
}

.contact-details{
    width: 100%;
    color: #2F1E0A;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
}

.contact h3{
    color: rgb(226, 226, 226);
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#tag{
    margin: 0 auto;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: #af8f6b;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
}

.location{
    width: 100%;
    color: #2F1E0A;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center; 
    margin-bottom: 2em;
}

.location img{
    width: 4%;
    justify-content: space-around;
    margin-right: 0.5em;
}


@media screen and (min-width: 769px){

    #cart-total{
        top: 2.8rem;
        margin-left: 5%;
    }

    .column{
        float: left;
        width: 45%;
        height: 500px;
    }

    .contact{
        flex-direction: row;
    }

    .location{
        width: 50%;
        float: left;
    }

    .contact-details{
        width: 50%;
        float: left;
    }

    .footer{
        font-size: 15px;
        padding-left: 9em;  
    }

    .page-heading h1{
        font-size: 50px;
        top: 35%;
    }
}


@media screen and (min-width: 900px){
    .block-1 p{
        width: 65%;
    }

    .block-4 p{
        width: 50%;
    }

    #cart-total{
        top: 2.8rem;
        margin-left: 4.2%;
    }

    .column{
        float: left;
        width: 29%;
        height: 470px;
    }
    
    .footer{
        padding-left: 10em;
    }

    .page-heading h1{
        font-size: 70px;
        top: 40%;
    }
}

@media screen and (min-width: 1024px){

    .shopping-cart{
        margin-left: 1%;
    }

    .footer{
        padding-left: 15em;
    }

    .page-heading h1{
        font-size: 70px;
        top: 55%;
    }

    .block-1 p{
        width: 60%;
    }

    .block-4 p{
        width: 40%;
        margin-bottom: 2em;
    }

    .block-4 h2{
        margin-top: 5em;
    }

    .block-1 h2 {
        margin-top: 2em;
    }

    #cart-total{
        top: 2.8rem;
        margin-left: 2.7%;
    }

    .cell-bottom-row button{
        font-size: 12px;
    }

    .column{
        float: left;
        width: 21%;
        height: 470px;
    }

    .products{
        padding-left: 4em;
    }

    .product-container{
        width: 98%;
    }

    .products{
        padding-right: 0em;
    }
}

@media screen and (max-width: 768px){

    .line{
        width: 30px;
        background-color: #D9B58A;
        height: 3px;
        margin-bottom: 5px;
    }


    .nav-links{
        position: fixed;
        margin-top: 2.5em;
        background-color: #2F1E0A;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    body{
        overflow-x: hidden;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 30%;
        display: block;
    }

    .logo img{
        width: 20px;
        top: 2.3rem;
    }

    .nav-title a{
        margin-left: 10%;
        width: 200px;
    }

    .title h1 {
        top: 25%; /* Adjust this value to move the positioned div up and down */

        width: 60%; /* Set the width of the positioned div */
    }
}

.nav-active{
    transform: translateX(0%);
}