<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Vintage Aroma - Shop</title>
</head>
<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home_page'%}">Home</a></li>
            <li><a href="{% url 'about_us_page'%}">About Us</a></li>
            <li class="active"><a href="{% url 'shop_page'%}">Shop</a></li>
            <li><a href="{% url 'contact_page'%}">Contact</a></li>
        </ul>
    </nav>

    <div class="logo">
        <a href="{% url 'home_page'%}"><img src="{% static "images/coffee_beans.png" %}" alt="Coffee Beans" ></a>
    </div>

    <div class="nav-title">
        <a href="{% url 'home_page'%}">Vintage Aroma</a>
    </div>

    <div class="shopping-cart">
        <a href="{% url 'cart_page'%}"><img src="{% static "images/cart.png" %}" alt="Shopping Cart" ></a>
        <p id="cart-total">0</p>
    </div>

    <div class="top-bg">
        <img src="{% static "images/shop.jpg" %}" alt="Coffee Strainer" >
    </div>

    <div class="page-heading">
        <h1>SHOP</h1>
    </div>

    <div class="content">
        <div class="block-1">
            <h2>ORDER NOW!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est autem necessitatibus dolore .</p>
        </div>
    </div>

    <div class="products">
            {% for product in product_list %}
                <div class="column">
                    <div class="product-container">
                        <img src="{{product.image.url}}"/>
                        <h3 name = "pname" >{{product.product_name}}</h3>
                        <p name = "pdescription" >{{product.description}}</p>
                        <h3 name = "pprice" >Price: ${{product.price}}</h3>
                        <div class="cell-bottom-row">
                            <form>
                                <button class="update-cart" data-product="{{product.id}}" data-action="add">Add To Cart</button>
                            </form>
                            <form>
                                <button type="submit" id="delete-btn">View</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="contact">
        <div class="location">
            <h2 class="loc-heading">
                COME ON IN!
            </h2>
            <h3>WEEKDAYS</h3>
            <p>8AM - 11PM</p>
            <h3>WEEKENDS</h3>
            <p>8AM - 12PM</p>
            <div class="social">
                <a href="http://www.facebook.com" target="_blank"><img src="{% static "images/facebook.png" %}" alt="facebook"></a> 
                <a href="http://www.instagram.com" target="_blank"><img src="{% static "images/instagram.png" %}" alt="instagram"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="{% static "images/twitter.png" %}" alt="twitter"></a>
            </div>
        </div>

        <div class="contact-details">
            <h2 class="con-heading">
                CONTACT US
            </h2>
            <h3>PHONE</h3>
            <p>+267 77707722</p>
            <h3>EMAIL</h3>
            <p>info@vintagearoma.com</p>
            <h3>ADDRESS</h3>
            <p>80 Vintage Avenue, Somewhere</p>
        </div>
    </div>

    <div class="footer">
        &copy Copyright Vintage Aroma<p id="tag">Designed & Developed by Asafa Makan'a</p>
    </div>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>